<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue  theme2  sidebar-mini">
	<div class="wrapper">

		<header th:replace="layout::mainHeader"> </header>
		<aside th:replace="layout::sidebar"></aside>
		<!-- Full Width Column -->
		<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section th:replace="layout::contentHeader"></section>

				<!-- Main content -->
				<section class="content">
					<div class="callout callout-info">
				        <p>最近对比完成于<span th:text="${compare}"></span>. 搜索追逃人员数据 30,100 条，共有 <span class="badge bg-red">5</span> 条对比结果。</p>
				      </div>
					<div class="box box-info">
						<div class="box-header with-border">
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<div class="table-responsive no-padding">
								<table class="table table-hover table-bordered" id="eventTable">
									
									<thead>
										<tr class="bg-aqua">
											<th style="height:2.2em;">追逃编号</th>
											<th>姓名</th>
											<th>性别</th>
											<th>身份证号</th>
											<th>现住址</th>
											<th>逃跑时间</th>
											<th>主办人姓名</th>
											<th>主办人电话</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
						<div class="box-footer clearfix">
						</div>
					</div>
					<!-- /.box -->
				</section>
				<!-- /.content -->
			<!-- /.container -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="layout::footer"> </footer>
	</div>
	<!-- ./wrapper -->
	<script type="text/javascript">
	</script>

</body>
</html>
