<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout::head">
</head>
<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="skin-blue layout-top-nav theme2">

<script th:src="@{/bower_components/jquery-validation/dist/jquery.validate.min.js}"></script>
<script th:src="@{/dist/js/eventEdit.js}"></script>
	<div class="wrapper">

		<header th:replace="layout::mainHeader"> </header>
		<!-- Full Width Column -->
		<div class="content-wrapper">
			<div class="container">
				<!-- Content Header (Page header) -->
				<section th:replace="layout::contentHeader"></section>

				<!-- Main content -->
				<section class="content">
					<div class="box box-info">
						<div class="box-header with-border">
							<h3 class="box-title">信息录入</h3>
						</div>
						<!-- /.box-header -->
						<form id="eventEditForm" class="form" th:action="@{/event/save}" method="POST" enctype="multipart/form-data">
							<div class="box-body">
								<div class="form-horizontal">
									<div class="form-group">
										<label for="input1" class="col-md-2 control-label">类别</label>
										<div class="col-md-4">
											<select id="input1" name="eventType" data-constGroup="EVENT_TYPE" class="form-control no-padding">
											</select>
										</div>
	
										<label for="input2" class="col-md-2 col-lg-1 control-label">是否查清</label>
										<div class="col-md-4">
											<input type="hidden" name="commentKey" value="EVENT_CHECKED_CLEAR">
											<select id="input2" name="commentVal_EVENT_CHECKED_CLEAR" data-constGroup="EVENT_CHECKED_CLEAR" class="form-control no-padding">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="input3" class="col-md-2 control-label">接警单位</label>
										<div class="col-md-4">
											<input id="input3" name="rcvOrgName"  class="form-control"
											data-rule-required="true" data-msg-required="请输入接警单位">
										</div>
										<label for="input4" class="col-md-2 col-lg-1 control-label">处警民警</label>
										<div class="col-md-4">
											<input type="text" id="input4" name="handlerName" class="form-control"
											data-rule-required="true" data-msg-required="请输入处警民警"/>
										</div>
									</div>
									<div class="form-group">
										<label for="input5" class="col-md-2 control-label">报警人</label>
										<div class="col-md-4">
											<input type="text" id="input5" name="reportorName" class="form-control">
										</div>
										<label for="input6" class="col-md-2 col-lg-1 control-label">报警电话</label>
										<div class="col-md-4">
											<input type="text" id="input6" name="reportorTel" class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label for="input7" class="col-md-2 control-label">协查单位</label>
										<div class="col-md-4">
											<input id="input7" name="coOrgName" class="form-control">
										</div>
										
										<label for="input8" class="col-md-1 control-label">联系人</label>
										<div class="col-md-2">
											<input type="text" id="input8" name="coOrgContact" class="form-control"/>
										</div>
										<label for="input9" class="col-md-1 control-label">电话</label>
										<div class="col-md-2">
											<input type="text" id="input9" name="coOrgTel" class="form-control"/>
										</div>
									</div>
									<div class="form-group">
										<label for="input10" class="col-md-2 control-label">姓名</label>
										<div class="col-md-4">
											<input type="text" id="input10" name="name" class="form-control"/>
										</div>
										
										<label for="gender" class="col-md-1 control-label">性别</label>
										<div class="col-md-2">
										<select id="gender" name="gender" data-constGroup="GENDER" class="form-control no-padding ">
										</select>
										</div>
										<label for="input12" class="col-md-1 control-label">事件时间</label>
										<div class="col-md-2">
											<input type="text" id="input12" name="eventTime" class="form-control" data-datepicker/>
										</div>
									</div>
									<div class="form-group">
										<label for="input13" class="col-md-2 control-label">身份证号</label>
										<div class="col-md-4">
											<input type="text" id="input13" name="idNum" class="form-control"/>
										</div>
									</div>		
									<div class="form-group">
										<label for="input14" class="col-md-2 control-label">图片</label>
										<div class="col-md-9 form-control-static">
											<input type='file' name='file'>
											<a href="javascript: " onclick="insertAttach(this);" class=" btn btn-flat btn-info btn-xs">添加</a>
										</div>
									</div>			
									<div class="form-group">
										<label for="input14-1" class="col-md-2 control-label">附件</label>
										<div class="col-md-9 form-control-static">
											<input type='file' name='file'>
											<a href="javascript: " onclick="insertAttach(this);" class=" btn btn-flat btn-info btn-xs">添加</a>
										</div>
									</div>							
								</div>
								<div class="row">
									<div class="form col-md-11 col-md-offset-1">
										<div class="form-group">
											<label for="input15" class="control-label">简要警情:</label>
												<textarea id="input15" name="briefInfo" class="form-control" rows="3"></textarea>
										</div>	
										<div class="form-group">
											<label for="input16" class="control-label">人员情况:</label>
												<textarea id="input16" name="detailInfo" class="form-control" rows="3"></textarea>
										</div>
										<div class="form-group" th:if="${#authorization.expression('hasRole(''ROLE_110'')')}">
											<label for="input17" class="control-label">110备注:</label>
											<input type="hidden" name="commentKey" value="EVENT_COMMENT_110">
											<textarea id="input17" name="commentVal_EVENT_COMMENT_110" class="form-control" rows="3"></textarea>

										</div>	
										<div class="form-group" th:if="${#authorization.expression('hasRole(''ROLE_XZD'')')}">
											<label for="input18" class="control-label">刑侦队备注:</label>
											<input type="hidden" name="commentKey" value="EVENT_COMMENT_XZZD">
											<textarea id="input18" name="commentVal_EVENT_COMMENT_XZZD" class="form-control" rows="3"></textarea>

										</div>
										<div class="form-group">
											<label for="input19" class="control-label">派出所备注:</label>
												<input type="hidden" name="commentKey" value="EVENT_COMMENT_PCS">
												<textarea id="input19" name="commentVal_EVENT_COMMENT_PCS" class="form-control" rows="3"></textarea>
										</div>		
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="form-horizontal">
									<div class="form-group">
										<label class="control-label col-md-1 col-md-offset-5" for="input20">录入人</label>
										<div class="col-md-2">
											<input type="text" id="input20" name="inputRealName" class="form-control"
											data-rule-required="true" data-msg-required="请输入录入人姓名"/>
										</div>
										<label class="control-label col-md-1" for="input21">审核人</label>
										<div class="col-md-2">
											<input type="text" id="input21" name="reviewerName" class="form-control"
											data-rule-required="true" data-msg-required="请输入审核人姓名"/>
										</div>
									</div>
								</div>

							</div>
							<div class="box-footer clearfix">
								<div class="row">
								
								<input type="submit" value="提交" class="btn btn-primary col-md-1 col-md-offset-5"/>
								</div>
							</div>
						</form>
					</div>
					<!-- /.box -->
				</section>
				<!-- /.content -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer" th:replace="layout::footer"> </footer>
	</div>
	<!-- ./wrapper -->
</body>
</html>
