
        <div class="modal fade" id="sign-window" th:if="${needSign?:false}==true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">签收</h4>
              </div>
              <form th:action="@{/event/receive}" class="form-horizontal" method="POST">
              <div class="modal-body">
                	<input type="hidden" name="eventId" th:value="${eventId?:''}">
                	<div class="form-group">
                		<label class="control-label col-md-3">签收人姓名</label>
                		<div class="col-md-4">
                		<input type="text" name="user" class="form-control "/>
                		</div>
                	</div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">签收</button>
              </div>
              </form>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <script type="text/javascript">
    	$("#sign-window").modal('show');
        </script>